* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
    margin-top: 10%;
}

header button {
    margin: 0 auto;
    padding: 2%;
    background-color: gray;
    border: 1.5px solid black;
    color: white; 
    cursor: pointer;
    margin: 5px;
    border-radius: 12px;
}

#quiz-choices-c1{
    border-bottom: 3px solid white;
    position: absolute;
    bottom: 40%;
    left: 33%;
}

#quiz-choices-c1 button {
    display: none;
    background-color: gray;
    border: 1.5px solid black;
    color: white; 
    cursor: pointer;
    margin: 5px;
    border-radius: 12px;
    padding: 10px;
}

#quiz-choices-c2 {
    border-bottom: 3px solid white;
    position: absolute;
    bottom: 40%;
    right: 33%;
}

#quiz-choices-c2 button {
    display: none;
    background-color: gray;
    border: 1.5px solid black;
    color: white; 
    cursor: pointer;
    margin: 5px;
    border-radius: 12px;
    padding: 10px;
}


button:hover {
    background-color: slategray;
    color: gold;
}