* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    text-align: center;
    margin-top: 10%;
}

    header button {
        margin: 0 auto;
        padding: 2%;
        background-color: gray;
        border: 1.5px solid black;
        color: white; 
        cursor: pointer;
        margin: 5px;
        border-radius: 12px;
        font-size: 32px;
    }


/* First column of buttons (quiz choices) */
#quiz-choices-c1{
    position: absolute;
    bottom: 55%;
    left: 33%;
}

    #quiz-choices-c1 button {
        display: none;
        background-color: gray;
        border: 1.5px solid black;
        color: white; 
        cursor: pointer;
        margin: 5px;
        border-radius: 12px;
        padding: 10px;
        font-size: 32px;
    }


/* Second column of buttons (quiz choices) */    
#quiz-choices-c2 {
    position: absolute;
    bottom: 55%;
    right: 33%;
}

    #quiz-choices-c2 button {
        display: none;
        background-color: gray;
        border: 1.5px solid black;
        color: white; 
        cursor: pointer;
        margin: 5px;
        border-radius: 12px;
        padding: 10px;
        font-size: 32px;
    }


/* Extra button styling */
button:hover {
    background-color: slategray;
    color: gold;
}

#quiz-choices-c1 button:hover {
    background-color: slategray;
    color: gold;
}

#quiz-choices-c2 button:hover {
    background-color: slategray;
    color: gold;
}


/* Extra page styling */
#top-line {
    margin: 0 auto;
    border-top: 3px solid black;
    width: 0%;
}

#correct-incorrect {
    position: absolute;
    bottom: 60%;
    left: 48%;
    font-size: 24px;
}